header {
    background-color: #efefef;
    height: 50px;
    text-align: center;
    margin-bottom: 25px;

    h1 {
        font-weight: 300 !important;
        font-size: 1.5em;
        line-height: 45px;
    }
}
